.Navbar {
  $_separation: 2 * get($spacing);

  position: relative;
  height: $navbar-height;
  padding: get($spacing, 'small') 0;
  background-color: $c-navbar;
  box-shadow: get($shadows);

  &__container {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__logo {
    display: none;
    flex: 0 0 auto;
    max-height: 100%;
    margin-right: $_separation;
  }

  &__menu {
    @include inline-list;

    flex-grow: 1;
    margin-right: $_separation;
  }

  &__auth {
    flex-shrink: 0;
    cursor: pointer;
  }

  &__link {
    position: relative;

    &::after {
      position: absolute;
      bottom: -.5em;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: currentColor;
      content: '';
      transform: scale(0);
      transition: transform $duration-default;
    }

    &--active::after {
      transform: scale(1);
    }
  }

  @media #{get($screen-media, 'sm')} {
    &__menu {
      justify-content: flex-end;
    }

    &__logo {
      display: block;
    }
  }
}
