.Spinner {
  $thickness: 3px;
  $size: 60px;

  @keyframes spin {
    from {
      transform: rotate(0);
    }

    to {
      transform: rotate(360deg);
    }
  }

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: background-color $duration-default, backdrop-filter $duration-default;

  &::after {
    position: absolute;
    top: calc(50% - #{$size / 2});
    left: calc(50% - #{$size / 2});
    z-index: 1;
    width: $size;
    height: $size;
    border: $thickness solid $c-accent;
    border-left-color: transparent;
    border-radius: 50%;
    content: '';
    opacity: 0;
    animation: spin 1s infinite linear;
    animation-play-state: paused;
    transition: opacity $duration-default;
  }

  &--active {
    pointer-events: all;
    background-color: $c-overlay;
    backdrop-filter: blur(2px);

    &::after {
      opacity: 1;
      animation-play-state: running;
    }
  }
}
