%margin-clean {
  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

%margin-clean-horizontal {
  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

@mixin inline-list($gutter: get($spacing)) {
  display: flex;

  & > * {
    @extend %margin-clean-horizontal;

    margin-left: $gutter;
  }
}
