$container-width: 1200px;
$navbar-height: 56px;

$screen-sizes: (
  sm: 30em,
  md: 50em,
  lg: $container-width,
);

$screen-media: (
  sm: screen and (min-width: get($screen-sizes, 'sm')),
  md: screen and (min-width: get($screen-sizes, 'md')),
  lg: screen and (min-width: get($screen-sizes, 'lg')),
);

$spacing: (
  tiny: 6px,
  small: 10px,
  default: 15px,
  medium: 20px,
  large: 30px,
  xlarge: 50px,
);

$font-sizes: (
  small: 14/16 * 1rem,
  default: 1rem,
  large: 20/16 * 1rem,
);

$font-weights: (
  default: 400,
  semibold: 500,
  bold: 700,
);

$radii: (
  default: 4px,
);

$shadows: (
  light: #{0 0 2px 1px rgba($c-shadow-base, .05), 0 0 4px 1px rgba($c-shadow-base, .05)},
  default: #{0 0 5px 1px rgba($c-shadow-base, .05), 0 0 8px 1px rgba($c-shadow-base, .1)},
  dark: #{0 0 7px 1px rgba($c-shadow-base, .07), 0 0 10px 1px rgba($c-shadow-base, .15)},
);

$duration-default: .25s;

$button-height: 2.5em;

$table-padding-side: get($spacing);
$table-padding-horizontal: $table-padding-side/2;
$table-padding-vertical: get($spacing, 'small');

$checkbox-size: 16px;

$input-side-padding: .75em;

$select-dropdown-height: 240px;
